<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Thám tử Tâm Vũ</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="stylesheet" "./app/assets/stylesheets/bootstrap.min.css">
        <link rel="stylesheet" "./app/assets/stylesheets/hero-slider.css">
        <link rel="stylesheet" "./app/assets/stylesheets/templatemo-main.css">
        <link rel="stylesheet" "./app/assets/stylesheets/css/owl-carousel.css">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
        <script type="text/javascript" src="/modernizr-2.8.3-respond-1.4.2.min.js"></script>

    </head>
<!--
Vanilla Template
https://templatemo.com/tm-526-vanilla
-->
<body>

    <div class="fixed-side-navbar">
        <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link" href="#home"><span>Intro</span></a></li>
            <li class="nav-item"><a class="nav-link" href="#services"><span>Services</span></a></li>
            <li class="nav-item"><a class="nav-link" href="#portfolio"><span>Portfolio</span></a></li>
            <li class="nav-item"><a class="nav-link" href="#our-story"><span>Our Story</span></a></li>
            <li class="nav-item"><a class="nav-link" href="#contact-us"><span>Contact Us</span></a></li>
        </ul>
    </div>

    <div class="parallax-content baner-content" id="home">
        <div class="container">
            <div class="first-content">
                <h1>THÁM TỬ TÂM VŨ</h1>
                <span><svg xmlns="http://www.w3.org/2000/svg" width="5%" height="100%" preserveAspectRatio="none" viewBox="0 0 24 24" fill="rgba(255, 174, 16, 1.0)"> <path d="M6.62,10.79C8.06,13.62 10.38,15.94 13.21,17.38L15.41,15.18C15.69,14.9 16.08,14.82 16.43,14.93C17.55,15.3 18.75,15.5 20,15.5A1,1 0 0,1 21,16.5V20A1,1 0 0,1 20,21A17,17 0 0,1 3,4A1,1 0 0,1 4,3H7.5A1,1 0 0,1 8.5,4C8.5,5.25 8.7,6.45 9.07,7.57C9.18,7.92 9.1,8.31 8.82,8.59L6.62,10.79Z"></path> </svg><em><a href="tel:0931412222">Hotline: 0931412222</a></em></span>
                <span><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="5%" height="100%" viewBox="0 0 24 24" fill="rgba(255, 174, 16, 1.0)"> <path d="M12,11.5A2.5,2.5 0 0,1 9.5,9A2.5,2.5 0 0,1 12,6.5A2.5,2.5 0 0,1 14.5,9A2.5,2.5 0 0,1 12,11.5M12,2A7,7 0 0,0 5,9C5,14.25 12,22 12,22C12,22 19,14.25 19,9A7,7 0 0,0 12,2Z"></path> </svg><em>545 Xuân Đỉnh, Hà Nội</em></span>
                <div class="primary-button">
                <a href="#contact-us">Đăng kí tư vấn miễn phí</a>
                </div>
            </div>
        </div>
    </div>


    <div class="service-content" id="services">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="left-text">
                        <h4>THÁM TỬ TÂM VŨ</h4>
                        <div class="line-dec"></div>
                        <p>Hơn 20 năm hoạt động và bề dày thương hiệu, với đội ngũ Thám tử được đào tạo bài bản và giàu kinh nghiệm chúng tôi luôn cam kết đúng với tiến độ. Với sư chuyên nghiệp và am hiểu của mình, chúng tôi tự tin đưa ra được những kết quả tốt nhất khi khách hàng đã tin tưởng lựa chọn dịch vụ của chúng tôi. Hành nghề với cái tâm, với kinh nghiệm thực chiến dày dặn và bảo mật tuyệt đối.</p>
                        <ul>
                            <div class="left-text">
                            <li>-  CAM KẾT NẢO MẬT THÔNG TIN TUYỆT ĐỐI</li>
                            <li>-  GIẢI QUYẾT VẤN ĐỀ NHANH CHÓNG NHẤT</li>
                            <li>-  DỊCH VỤ UY TÍN, CHI PHÍ HỢP LÝ NHẤT</li>
                        </ul>
                        <div class="primary-button">
                            <a href="#portfolio">Learn More About Us</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="service-item">
                                <h4>THÁM TỬ THEO DÕI NGOẠI TÌNH</h4>
                                <div class="line-dec"></div>
                                <li>Các thám tử của chúng tôi sẽ cung cấp các chứng cứ xác thực (hình ảnh hoặc video)</li>
                                <li>Chúng tôi sẽ bắt tại trận nếu bạn muốn</li>
                                <li>Chúng tôi sẽ giúp bạn biết rõ thông tin người thứ 3</li>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="service-item">
                                <h4>ĐIỀU TRA NHÂN THÂN</h4>
                                <div class="line-dec"></div>
                                <li>Xác minh thông tin về đối tác</li>
                                <li>Xác minh chủ nhân biển số xe</li>
                                <li>Xác minh chủ nhân số điện thoại</li>
                                <li>Xác minh khả năng thu hồi nợ</li>
                                <li>Xác minh đối tượng bạn quen qua mạng</li>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="service-item">
                                <h4>ĐIỀU TRA ĐỐI THỦ CẠNH TRANH</h4>
                                <div class="line-dec"></div>
                                <li>Các sản phẩm và dịch vụ cung cấp họ cung cấp</li>
                                <li>Giá cả của các sản phẩm và dịch vụ của họ</li>
                                <li>Cách thức họ bán sản phẩm và dịch vụ cho khách hàng</li>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="service-item">
                                <h4>ĐIỀU TRA TÀI KHOẢN NGÂN HÀNG</h4>
                                <div class="line-dec"></div>
                                <li>Điều tra xác định chủ nhân qua số tài khoản</li>
                                <li>Điều tra chủ nhân số tài khoản</li>
                                <li>Điều tra thông tin sao kê</li>
                                <li>Giúp bạn nắm được thông tin chính xác</li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="parallax-content projects-content" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="owl-testimonials" class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="testimonials-item">
                                <a href="/app/assets/images/1st-big-item.jpg" data-lightbox="image-1"><img src="/dieutranoibo.jpg" alt=""></a>
                                <div class="text-content">

                                    <span>Điều tra công ty</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonials-item">
                                <a href="img/2nd-big-item.jpg" data-lightbox="image-1"><img src="/vi-sao-dan-ong-van-ngoai-tinh-du-co-cuoc-hon-nhan-hanh-phuc.jpg" alt=""></a>
                                <div class="text-content">
                                    <span>Điều tra ngoại tình</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonials-item">
                                <a href="img/3rd-big-item.jpg" data-lightbox="image-1"><img src="/tham-tu-1574239282601571850092.jpg" alt=""></a>
                                <div class="text-content">
                                    <span>Điều tra nhân thân</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonials-item">
                                <a href="img/4th-big-item.jpg" data-lightbox="image-1"><img src="/tham tu la gi.jpg" alt=""></a>
                                <div class="text-content">
                                    <span>Điều tra theo yêu cầu</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonials-item">
                                <a href="img/5th-big-item.jpg" data-lightbox="image-1"><img src="/tham-tu-tu-nguyen-gia-1.jpg" alt=""></a>
                                <div class="text-content">
                                    <span>dịch vụ theo dõi</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonials-item">
                                <a href="img/2nd-big-item.jpg" data-lightbox="image-1"><img src="/the-atm.jpg" alt=""></a>
                                <div class="text-content">
                                    <span>Điều tra tài khoản ngân hàng</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="tabs-content" id="our-story">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <div class="wrapper">
                    <section id="first-tab-group" class="tabgroup">
                      <div id="tab1">
                        <img src="/ngoaitinh1.jpg" alt="">
                        <p>Bạn đang nhận ra được nhiều sự thay đổi khác lạ từ người bạn đời của mình. Bạn đang nghi ngờ người bạn đời dường như không còn chung thủy với bạn, người ấy đang có một mối quan hệ không rõ ràng với một người nào đó. Bạn đang rất muốn biết họ làm gì? Đến những đâu?…</p>
                      </div>
                      <div id="tab2">
                        <img src="/ng.jpg" alt="">
                        <p>Công ty thám tử Tâm Vũ chúng tôi là một trong những công ty thám tử hàng đầu trong việc điều tra theo dõi ngoại tình. Với phương châm đem đến cho khách hàng đang có nhu cầu tìm đến dịch vụ thám tử một chất lượng dịch vụ tốt nhất, chi phí tiết kiệm nhất, nhanh chóng, hiệu quả nhưng lại có được nguồn thông tin chính xác.Với đội ngũ thám tử nhiều kinh nghiệm, chi nhánh Công Ty Thám Tử Tâm Vũ trải dài khắp các tỉnh thành ở Việt Nam, chúng tôi dễ dàng giúp bạn tìm ra được những thông tin chính xác về một ai đó một cách nhanh chóng và hiệu quả</p>
                      </div>
                      <div id="tab3">
                        <img src="/anhnen2.jpg" alt="">
                        <p>Thu các bằng chứng ngoại tình, hình ảnh ngoại tình.Xem lịch sử cuộc gọi,xem và sao chép tin nhắn, ngay cả tin nhắn đã xóa,nghe lén cuộc gọi của vợ/chồng bạn, định vị vị trí của vợ/chồng bạn đang ở đâu, thường lui tới những địa điểm nào</p>
                      </div>
                      <div id="tab4">
                        <img src="/ngoaitinh_ekvl_tdko.jpg" alt="">
                        <p>Từ bằng chứng thu thập được xác định việc ngoại tình của vợ/chồng bạn.</p>
                      </div>
                    </section>
                    <ul class="tabs clearfix" data-tabgroup="first-tab-group">
                      <li><a href="#tab1" class="active">Điều tra</a></li>
                      <li><a href="#tab2">Theo dõi</a></li>
                      <li><a href="#tab3">Tìm bằng chứng</a></li>
                      <li><a href="#tab4">Xác nhận</a></li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="parallax-content contact-content" id="contact-us">
        <div class="container">
            <div class="row">
               <%= form_for(@user) do |f| %>
                <div class="col-md-6">
                    <div class="contact-form">
                        <div class="row">
                            <form id="contact" action="" method="post">
                                <div class="row">
                                    <div class="col-md-12">
                                      <fieldset>
                                        <fieldset>
                                        <%= f.label :name %> <%= f.text_field :name, class: 'form-control'%>
                                      </fieldset>
                                    </div>
                                    <div class="col-md-12">
                                      <fieldset>
                                        <fieldset>
                                        <%= f.label :phone %> <%= f.text_field :phone, class: 'form-control'%>
                                      </fieldset>
                                    </div>
                                    <div class="col-md-12">
                                      <fieldset>
                                        <%= f.label :email %> <%= f.text_field :email, class: 'form-control'%>
                                      </fieldset>
                                    </div>
                                    <div class="col-md-12">
                                      <fieldset>
                                        <%= f.submit "Đăng kí tư vấn miễn phí", class: "btn btn-primary" %>
                                      </fieldset>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <% end %>
                <div class="col-md-6">
                    <div class="map">
                    <!-- How to change your own map point
                           1. Go to Google Maps
                           2. Click on your location point
                           3. Click "Share" and choose "Embed map" tab
                           4. Copy only URL and paste it within the src="" field below
                    -->

                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3722.918970842635!2d105.78517021439791!3d21.075898285972826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135aacc1850dc35%3A0x77ee3609686ceb95!2zNTQ1IFh1w6JuIMSQ4buJbmgsIELhuq9jIFThu6sgTGnDqm0sIEjDoCBO4buZaSwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1612181808954!5m2!1svi!2s" width="100%" height="390" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="primary-button">
                        <a href="#home">Back To Top</a>
                    </div>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-google"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                    <p><a rel="nofollow noopener" href="https://thamtutamvu.com"><em>Thám tử Tâm Vũ</em></a></p>
                </div>
            </div>
        </div>
    </footer>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="./app/javascript/jquery-1.11.2.min.js"><\/script>')</script>
    <script type="text/javascript" src="/bootstrap.min.js"></script>
    <script type="text/javascript" src="/plugins.js"></script>
    <script type="text/javascript" src="/main.js"></script>
    <script>
        function openCity(cityName) {
            var i;
            var x = document.getElementsByClassName("city");
            for (i = 0; i < x.length; i++) {
               x[i].style.display = "none";
            }
            document.getElementById(cityName).style.display = "block";
        }
    </script>

    <script>
        $(document).ready(function(){
          // Add smooth scrolling to all links
          $(".fixed-side-navbar a, .primary-button a").on('click', function(event) {

            // Make sure this.hash has a value before overriding default behavior
            if (this.hash !== "") {
              // Prevent default anchor click behavior
              event.preventDefault();

              // Store hash
              var hash = this.hash;

              // Using jQuery's animate() method to add smooth page scroll
              // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
              $('html, body').animate({
                scrollTop: $(hash).offset().top
              }, 800, function(){

                // Add hash (#) to URL when done scrolling (default click behavior)
                window.location.hash = hash;
              });
            } // End if
          });
        });
    </script>

</body>
</html>
